<!— begin @Pay button —>
<center>
<a href='{{url}}' class='reg_mailto' target='_blank' style='text-decoration:none'>
<table class='reg_mailto' border='0' cellpadding='1px' cellspacing='0' style="color: #ffffff; border-radius: 6px; padding: 12px 20px 10px; text-align: center; font-family: 'Open Sans', Montserrat, Arial, Helvetica, sans-serif; margin: 0; background-color: #80c35a; border-bottom: 4px solid #629c46;">
<tr><td style="letter-spacing: 2px; font-size: 24px;"><a href='{{url}}' target='_blank' style='color: #ffffff; text-decoration:none'>{{button_text}}</a></td></tr>
<tr><td style="font-size: 12px;" ><a href='{{url}}' target='_blank' style='color: #ffffff; text-decoration:none'>Total: {{amount}}</a></td></tr>
</table>
</a>
</center>
<!— end @Pay button —>
