<!-- yahoo template with wrap -->

<style>
  a.not_yahoo {display:inline; display: inline !important;font-size: 20px !important;}
  a.not_yahoosm {display:inline; display: inline !important;font-size: 12px !important;}
  
  a.not_yahoo[fix] {display:inline; display: inline !important;font-size: 20px !important;}
  a.not_yahoosm[fix] {display:inline; display: inline !important;font-size: 12px !important;}
  a.yahoo[fix] {display:none; display: none !important;font-size: 0px !important;}
</style>

{% if analytic_url %}
  <img src="{{analytic_url}}" width="1" height="1" />  
{% endif %}


<center>
  <table cellpadding='0' cellspacing='0' style='margin-bottom:20px;'>
    <tr>
      <td>
        <table style='margin: auto; margin-bottom:5px; font-family: Lato; padding-bottom:10px; position:relative; padding-left:5px; padding-right:10px; margin-bottom:0px; margin-top:5px; padding:10px;padding-top:0; border-left: 1px solid #e4e2e2; border-top: 1px solid #e4e2e2; border-right: 1px solid #e4e2e2; '>
          <tr>
            <td colspan='3'>
              <p style='margin-bottom:0px; color: #515050; font-size:12px; margin-top:2px; text-align:center;'>
                {{wrap_text}}
              </p>
            </td>
          </tr>
          <tr>
            <td>

<center>
  <a border='0' class='yahoo' fix='email' href='{{yahoo_url}}' style='text-underline:none;'>
    <table border='0' cellpadding='0' cellspacing='0' style='background-color:{{background_color}};'>
      <tr class='main'>
        <td class='main' style='padding:3px 5px 5px 5px;' width='145'>
          <table>
            <tr>
              {% if image %}
                <td>
                  <a class='yahoo' fix='email' href='{{yahoo_url}}' style='color:{{foreground_color}}; text-decoration:none; border:none; display:inline;'>
                    <img src='{{image}}' style='margin-left: 5px; margin-right:10px; margin-top:8px;'>
                  </a>
                </td>
              {% endif %}
              <td>
                <table border='0' cellpadding='0' cellspacing='0' style='float:left; margin:0; margin-left:5px;'>
                  <tr>
                    <td style='font-size: 11px; color: {{foreground_color}}; font-family: Tahoma; text-align:center; padding:0; margin:0;'>
                      {{title}}
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <table border='0' cellpadding='0' cellspacing='0' style='margin:0; padding:0;'>
                        <tr>
                          <td style='padding:0; margin:0; font-size: 20px; color: {{foreground_color}}; font-family: Tahoma; vertical-align:top; line-height:25px;' valign='top'>
                            <a class='yahoo' fix='email' href='{{yahoo_url}}' style='color:{{foreground_color}}; text-decoration:none; border:none; display:inline;'>
                              {{dollar}}
                            </a>
                          </td>
                          <td style='padding:0; margin:0; font-size:14px; text-decoration:underline;padding-left:2px; color: {{foreground_color}}; font-family: Tahoma; vertical-align:top;' valign='top'>
                            <a class='yahoosm' fix='email' href='{{yahoo_url}}' style='color:{{foreground_color}}; text-decoration:none; border:none; display:inline;'>
                              {{cents}}
                            </a>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </a>
  <a border='0' class='not_yahoo' fix='email' href='{{url}}' style='text-underline:none; display:none; font-size:0px; text-indent:-9999999;'>
    <table border='0' cellpadding='0' cellspacing='0' style='background-color:{{background_color}};'>
      <tr class='main'>
        <td class='main' style='padding:3px 5px 5px 5px;' width='145'>
          <table>
            <tr>
              {% if image %}
                <td>
                  <a class='not_yahoo' href='{{url}}' style='color:{{foreground_color}}; text-decoration:none; border:none;'>
                    <img src='{{image}}' style='margin-left: 5px; margin-right:10px; margin-top:8px;'>
                  </a>
                </td>
              {% endif %}
              <td>
                <table border='0' cellpadding='0' cellspacing='0' style='float:left; margin:0; margin-left:5px;'>
                  <tr>
                    <td style='font-size: 11px; color: {{foreground_color}}; font-family: Tahoma; text-align:center; padding:0; margin:0;'>
                      {{title}}
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <table border='0' cellpadding='0' cellspacing='0' style='margin:0; padding:0;'>
                        <tr>
                          <td style='padding:0; margin:0; font-size: 20px; color: {{foreground_color}}; font-family: Tahoma; vertical-align:top; line-height:25px;' valign='top'>
                            <a class='not_yahoo' fix='email' href='{{url}}' style='color:{{foreground_color}}; text-decoration:none; border:none;'>
                              {{dollar}}
                            </a>
                          </td>
                          <td style='padding:0; margin:0; font-size:14px; text-decoration:underline;padding-left:2px; color: {{foreground_color}}; font-family: Tahoma; vertical-align:top;' valign='top'>
                            <a class='not_yahoosm' fix='email' href='{{url}}' style='color:{{foreground_color}}; text-decoration:none; border:none;'>
                              {{cents}}
                            </a>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </a>
</center>












</td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td>
        <table cellpadding='0' cellspacing='0' style='width:100%;' width='100%'>
          <tr>
            <td valign='top'>
              <table cellpadding='0' cellspacing='0' height='10' style='font-size: 1px; line-height: 1px; border-left: 1px #e4e2e2 solid;  border-bottom: 1px #e4e2e2 solid; height:10px; width: 100%;'>
                <tr>
                  <td>
                    &nbsp;
                  </td>
                </tr>
              </table>
            </td>
            <td width='155'>
              <center>
                <img src='https://atpay.com/wp-content/uploads/2013/05/email_chout_tag.png'>
              </center>
            </td>
            <td valign='top' width='20'>
              <table cellpadding='0' cellspacing='0' height='10' style='font-size: 1px; line-height: 1px; border-right: 1px #e4e2e2 solid;  border-bottom: 1px #e4e2e2 solid; height:10px; width: 100%;'>
                <tr>
                  <td>
                    &nbsp;
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</center>
