<!-- yahoo template with no wrap -->

<style>
  a.not_yahoo {display:inline; display: inline !important;font-size: 20px !important;}
  a.not_yahoosm {display:inline; display: inline !important;font-size: 12px !important;}
  
  a.not_yahoo[fix] {display:inline; display: inline !important;font-size: 20px !important;}
  a.not_yahoosm[fix] {display:inline; display: inline !important;font-size: 12px !important;}
  a.yahoo[fix] {display:none; display: none !important;font-size: 0px !important;}
</style>

{% if analytic_url %}
  <img src="{{analytic_url}}" width="1" height="1" />  
{% endif %}


<center>
  <a border='0' class='yahoo' fix='email' href='{{yahoo_url}}' style='text-underline:none;'>
    <table border='0' cellpadding='0' cellspacing='0' style='background-color:{{background_color}};'>
      <tr class='main'>
        <td class='main' style='padding:3px 5px 5px 5px;' width='145'>
          <table>
            <tr>
              {% if image %}
                <td>
                  <a class='yahoo' fix='email' href='{{yahoo_url}}' style='color:{{foreground_color}}; text-decoration:none; border:none; display:inline;'>
                    <img src='{{image}}' style='margin-left: 5px; margin-right:10px; margin-top:8px;'>
                  </a>
                </td>
              {% endif %}
              <td>
                <table border='0' cellpadding='0' cellspacing='0' style='float:left; margin:0; margin-left:5px;'>
                  <tr>
                    <td style='font-size: 11px; color: {{foreground_color}}; font-family: Tahoma; text-align:center; padding:0; margin:0;'>
                      {{title}}
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <table border='0' cellpadding='0' cellspacing='0' style='margin:0; padding:0;'>
                        <tr>
                          <td style='padding:0; margin:0; font-size: 20px; color: {{foreground_color}}; font-family: Tahoma; vertical-align:top; line-height:25px;' valign='top'>
                            <a class='yahoo' fix='email' href='{{yahoo_url}}' style='color:{{foreground_color}}; text-decoration:none; border:none; display:inline;'>
                              {{dollar}}
                            </a>
                          </td>
                          <td style='padding:0; margin:0; font-size:14px; text-decoration:underline;padding-left:2px; color: {{foreground_color}}; font-family: Tahoma; vertical-align:top;' valign='top'>
                            <a class='yahoosm' fix='email' href='{{yahoo_url}}' style='color:{{foreground_color}}; text-decoration:none; border:none; display:inline;'>
                              {{cents}}
                            </a>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </a>
  <a border='0' class='not_yahoo' fix='email' href='{{url}}' style='text-underline:none; display:none; font-size:0px; text-indent:-9999999;'>
    <table border='0' cellpadding='0' cellspacing='0' style='background-color:{{background_color}};'>
      <tr class='main'>
        <td class='main' style='padding:3px 5px 5px 5px;' width='145'>
          <table>
            <tr>
              {% if image %}
                <td>
                  <a class='not_yahoo' href='{{url}}' style='color:{{foreground_color}}; text-decoration:none; border:none;'>
                    <img src='{{image}}' style='margin-left: 5px; margin-right:10px; margin-top:8px;'>
                  </a>
                </td>
              {% endif %}
              <td>
                <table border='0' cellpadding='0' cellspacing='0' style='float:left; margin:0; margin-left:5px;'>
                  <tr>
                    <td style='font-size: 11px; color: {{foreground_color}}; font-family: Tahoma; text-align:center; padding:0; margin:0;'>
                      {{title}}
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <table border='0' cellpadding='0' cellspacing='0' style='margin:0; padding:0;'>
                        <tr>
                          <td style='padding:0; margin:0; font-size: 20px; color: {{foreground_color}}; font-family: Tahoma; vertical-align:top; line-height:25px;' valign='top'>
                            <a class='not_yahoo' fix='email' href='{{url}}' style='color:{{foreground_color}}; text-decoration:none; border:none;'>
                              {{dollar}}
                            </a>
                          </td>
                          <td style='padding:0; margin:0; font-size:14px; text-decoration:underline;padding-left:2px; color: {{foreground_color}}; font-family: Tahoma; vertical-align:top;' valign='top'>
                            <a class='not_yahoosm' fix='email' href='{{url}}' style='color:{{foreground_color}}; text-decoration:none; border:none;'>
                              {{cents}}
                            </a>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </a>
</center>

